body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.first {
    height: 100vh;
}

/*********Nav-bar********/

.header {
    padding: 12px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
    z-index: 5;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin: 0 30px;
    font-size: 22px;
}

.nav-link:first-child {
    margin-left: 50px;
    color: #DCA7CA;
}

.nav-socials {
    display: flex;
}

.nav-socials a {
    text-decoration: none;
    width: 40px;
    margin: 0 30px;
}

.nav-socials a:last-child {
    margin-right: 50px;
}

.nav-socials i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
}

#facebook {
    color: #D7BECF;
    border-color: #D7BECF;
}

#instagram {
    color: #8CC0D0;
    border-color: #8CC0D0;
}

#email {
    color: #DCA7CA;
    border-color: #DCA7CA;
}

/*********Intro********/

.intro {
    display: flex;
    align-items: center;
    height: 100%;
    background: url('AboutImg/Fundal.png') center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.intro-text {
    text-align: center;
    margin-top: -15%;
    margin-left: 20%;
}

h1 {
    font-weight: normal;
    font-size: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.intro-image {
    position: absolute;
    top: 0;
    right: -6%;
    width: 43%;
    height: auto;
}

.intro-description {
    font-size: 36px;
    color: #AF87A3;
    margin-bottom: 50px;
}

.intro-button {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 0.055em;
    color: #E4C2D9;
    background: linear-gradient(167.32deg, #FFFFFF 9.19%, #e6e1e1 97.71%);
    -webkit-box-shadow: -4px 100px 72px -46px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: -4px 100px 72px -46px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 15px 50px -20px rgba(0, 0, 0, 0.61);
    border-radius: 63px;
    padding: 10px 40px;
}

/*********DESPRE NOI********/

.about {
    height: fit-content;
    padding: 50px 50px 10px 50px;
    background: url('AboutImg/Stroke.png') center no-repeat;
    background-size: contain;
}

.about-inner {
    display: flex;
}

.about-text {
    width: 50%;
    margin-left: 80px;
}

h2 {
    font-weight: normal;
    font-size: 65px;
    color: #5D5060;
    text-shadow: 1px 4px 7px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

h2 span {
    color: #CF93BC;
}

.about-description {
    font-weight: 300;
    font-size: 25px;
    color: #0C0B0B;
}

.about-line {
    font-weight: 500;
    font-size: 27px;
    color: #B265C6;
    margin-top: 20px;
}

.about-image {
    width: 50%;
    height: auto;
    max-width: 650px;
}

/*********VIDEO********/

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px 30px;
}

/*********PRODUCTS********/

.products {
    background: url('AboutImg/BcgProduse.png') center no-repeat;
    padding: 0 50px 50px;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-button {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
    background: linear-gradient(144.6deg, #F7A8D9 2.5%, #E3C8F5 126.36%);
    box-shadow: 0px 23px 16px -18px #EADAE4;
    border-radius: 58px;
    padding: 13px 30px;
}

.products-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 40px auto;
}

.product-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    max-width: 300px;
    height: 320px;
    background: rgba(241, 209, 230, 0.8);
    margin: 15px;
}

.product-icon {
    margin-top: 15%;
}

.product-name {
    font-size: 40px;
    letter-spacing: 0.02em;
    color: #544D4D;
    margin-bottom: 30px;
}

.products-decoration {
    width: 60%;
    display: flex;
    margin: 0px auto;
}

.product-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-circle.color1 {
    background-color: #DACFF0;
}

.product-circle.color2 {
    background-color: #E3C8F5;
}

.product-circle.color3 {
    background-color: #F1D1E6;
}

.product-circle.color4 {
    background-color: #ECE0EC;
}

.product-circle.color5 {
    background-color: #D5E8EE;
}



